<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false">

	<variable name ="logFile" value="${basedir}/logs/" />

	<targets>
		<target xsi:type="File"
				name="fileLogs"
				fileName="${logFile}${shortdate}.log"
				layout="${longdate} [${level:uppercase=true}] ${message}"
				keepFileOpen ="false"
				concurrentWrites ="true"/>

		<target xsi:type="ColoredConsole"
				name="consoleLogs"
				layout="${longdate} [${level:uppercase=true}] ${message}">
			<highlight-word foregroundColor="Green" regex="\[INFO\]"/>
			<highlight-word foregroundColor="Blue" regex=" \d+\.\d$"/>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="fileLogs" />
		<logger name="*" minlevel="Debug" writeTo="consoleLogs" />
	</rules>

</nlog>